body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: fit-content;
    padding-bottom: 50px;
    min-height: 250px;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
}

.image-head {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    padding-bottom: 5px;
}

h3 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 15px;
    margin-bottom: 25px;
    position: relative;
    /* To position the search elements above others */
    z-index: 1;
}


input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#add-btn {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    z-index: 10;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    margin-right: 58px;
}

#add-btn:hover {
    background-color: #f76959;
}

#search-container {
    display: flex;
    position: absolute;
    border: 1px solid #ff5945;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0;
}


#search-image {
    background: transparent;
    padding: 12px 20px;
    padding-left: 40px;
    padding-bottom: 11px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform-origin: center;
}

#search-input {
    border: none;
    outline: none;
    background: #ffffff;
    border-color: #ff5945;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    margin-left: -5px;
    transition: all .5s;
    width: 0;
    opacity: 0;
}

#search-input.open {
    display: block;
    width: 350px;
    opacity: 1;
    left: 100%;
}

#close-search {
    background: transparent;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 20px;
    width: 50px;
    font-size: 20px;
    padding: 0 10px;
}

.edit-input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 15px;
}

.completed-task {
    text-decoration: line-through;
    color: gray;
}

.edit-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.save-btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

#edit-btn:hover {
    background-color: #f76959;
}
.Tasks-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-bottom: 10px;
}

.list .task {
    color: #002765;
    margin-left: 10px;
    font-size: 14px;
    padding-top: 5px;
    font-weight:bold;
}

.image-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.imag {
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.edit {
    margin-left: 350px;
    position: absolute;
}

.delete {
    margin-left: 385px;
    position: absolute;
}
